# Directories containing binary build artifacts
bin
build
lib

# Various files BPA programs create at runtime
*.SCR
*.bse
*.pfo
*.pfd
*.pff
*.out
*.pdf
*.sol
*.dbo
*.swx
scratch1
fort.*

# Windows silliness
*.un~
*.*~

# Documentation build artifacts
docs/_build
docs/doxygen

# ctags index file from running "ctags -R"
tags
