# Directories containing binary build artifacts
bin
build
lib

# Windows silliness
*.un~
*.*~

# Documentation build artifacts
docs/_build
docs/doxygen

# ctags index file from running "ctags -R"
tags
