# Directories containing binary build artifacts
bin
build
lib
Testing

# Various files BPA programs create at runtime
*.SCR
*.bse
*.pfo
*.pfd
*.pff
*.out
*.pdf
*.sol
*.dbo
*.swx
scratch1
fort.*
for014.dat

# Windows silliness
*.un~
*.*~

# Documentation build artifacts
docs/_build
docs/doxygen

# ctags index file from running "ctags -R"
tags

# X Window binaries and logs
xwindow/gui.uid
xwindow/em_log